.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
  .text-center{style: "margin: 30px;"}
    %h2.modal-header-text Sign up
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name), defaults: {input_html: {class: "text-center"}} do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @validatable)
        = f.input :password_confirmation, required: true
      .form-actions
        = link_to "Back", :back, class: "btn btn-default"
        = f.button :submit, "Sign up"
    = render "devise/shared/links"