.row
  .col-md-8.col-md-offset-2
    .paragraph-spacer
    .panel.panel-default.text-center
      .panel-heading
        %h4.without-margin 
          Merchant Aliases          
      =render 'index_links'

    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th Merchant Alias
          %th Possible Merchants
          %th
          
      %tbody
        - @merchant_aliases.each do |m|
          %tr.alias-row{id: "alias-row-#{m.id}"}
            %td{style: "vertical-align:middle"}
              %strong= m.alias
              %br
              %small= m.financial_institution.present? ? m.financial_institution.name : "No Financial Institution"
            %td{style: "width:300px; vertical-align:middle"}
              %input.alias-select2{value: m.merchant ? "<div class='row'><div class='col-xs-10'>#{m.merchant.name}</div><div class='col-xs-2 text-right'>#{m.merchant.recurring_score}</div></div>".html_safe : nil, data: { url: merchants_path, search: m.alias, update_url: merchant_alias_path(m) } }
            %td.text-right{style: "width:200px"}
              -if m.ignore
                =link_to "un-ignore", merchant_alias_path(m, merchant_alias: {ignore: false}), method: :put, remote: true, class: "btn btn-default"
              -else
                =link_to "ignore", merchant_alias_path(m, merchant_alias: {ignore: true}), method: :put, remote: true, class: "btn btn-default"
              -if m.merchant
                =link_to edit_merchant_path(m.merchant, merchant_alias_id: m.id), remote: true, class: "btn btn-default" do
                  %span edit merc                
              -else
                =link_to new_merchant_path(merchant_alias_id: m.id), remote: true, class: "btn btn-default" do
                  %span new merc

    .panel.panel-default.text-center
      =render 'index_links'