.text-center
  %h2
    ="Here's the status of Request ID ##{@stop_order.id} made on #{@stop_order.created_at.strftime('%B %d, %Y')} for your #{@stop_order.charge.descriptor} Account"  
  %p.lead 
    You asked us to: 
    %em #{@stop_order.type_of_request}

.container
  .row.bs-wizard{:style => "border-bottom:0;"}

    -manage_account_progress(@stop_order).each do |step, status|
      .col-xs-3.bs-wizard-step{class: status}
        .text-center.bs-wizard-stepnum= step
        .progress
          .progress-bar
        %span.bs-wizard-dot
        -if status == "active"
          .bs-wizard-info.text-center
            %p=@stop_order.status_message
            -if @stop_order.cancelable?
              %p=link_to "cancel request", {controller: "stop_orders", action: "destroy", id: @stop_order.id}, method: :delete, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure you want to cancel this request? You may not be able to start it again before your next payment cycle begins."}
