= simple_form_for @merchant, remote: true do |f|
  = f.input :validated, as: :hidden, input_html: { value: true }
  -if @merchant_alias.present?
    = f.input :merchant_alias_id, as: :hidden, input_html: { value: @merchant_alias.id }
  
  .modal-body
    %ul.form-errors
    .form-inputs.text-center
      = f.input :name, as: :string, required: false, input_html: { value: @merchant.name.present? ? @merchant.name : @merchant_alias.alias }
      = f.input :trym_category_id, collection: TrymCategory.all, label_method: :name, value_method: :id
      = f.input :recurring_score, collection: recurring_score_collection, label_method: :description, value_method: :score
      = f.input :default_renewal_period, collection: default_renewal_period, label_method: :description, value_method: :period
      = f.input :definitely_recurring_if_in_renewal_period, as: :boolean

  .modal-footer{ style: "text-align: center;" }
    = render partial: 'shared/cancel_button', locals: {btn_size: 'btn-md'}
    = f.button :submit, "Save", class: "btn btn-primary btn-md", style: "width: 69px;"