%h2=@category.name

-if @category.charges.where(user: current_user).with_merchant.from_user.recurring.present? || @category.charges.where(user: current_user).recurring_or_likely_to_be_recurring.from_link.present?

  %p.lead
    Add or select the charges related to #{@category.name} that you want trym to track
  -if @category.charges.where(user: current_user).with_merchant.recurring.present?
    %p.text-center You've told us these charges are recurring:
    .row
      -@category.charges.where(user: current_user).with_merchant.recurring.order(recurring_score: :desc).in_groups_of(2,false) do |charge_group|
        -charge_group.each do |charge|
          .col-md-6{class: charge_group.size == 1 ? "col-md-offset-3" : ''}
            =render partial: "shared/charge_item", locals: {charge: charge}
        

  -if current_user.linked_accounts.present? && @category.charges.where(user: current_user).recurring_likely_to_be.from_link.present?
    %p.text-center
      We found these
      %a#recurring-charge-score-explanation.icon-link{tabindex: "0"}
        potentially recurring
        %i.fa.fa-question-circle
      charges in your linked #{'account'.pluralize current_user.linked_accounts.count}:

    .row
      -@category.charges.where(user: current_user).with_merchant.recurring_likely_to_be.from_link.order(recurring_score: :desc).in_groups_of(2,false) do |charge_group|
        -charge_group.each do |charge|
          .col-md-6{class: charge_group.size == 1 ? "col-md-offset-3" : ''}
            =render partial: "shared/charge_item", locals: {charge: charge}

  .row
    %p.lead.text-center
      Can't find what you're looking for?
    -if current_user.linked_accounts.present?
      .col-md-6.text-center
        =link_to new_charge_path, class: "btn btn-primary btn-block btn-lg", remote: true do
          %i.fa.fa-plus
          Add a new charge
        .paragraph-spacer
      .col-md-6.text-center
        .input-group
          .input-group-addon
            %i.fa.fa-search
          %input.input-lg.form-control#search-charges-field{ placeholder: "Search your linked #{'account'.pluralize(current_user.linked_accounts.count)} ", type: "text" }
        .paragraph-spacer

      #charge-search-results-container

    -else
      .col-md-6.col-md-offset-3.text-center
        =link_to "Add a new charge", new_charge_path, class: "btn btn-primary btn-block btn-lg", remote: true


  .paragraph-spacer

-else
  %p.lead
    Add the charges related to #{@category.name} that you want trym to track.

  .row
    .col-md-8.col-md-offset-2.col-sm-12
      %h4.text-center Add your first #{@category.name} charge
      = simple_form_for current_user.charges.new, remote: true do |f|
        %p.form-errors
          = f.error_notification
        .form-inputs
          = f.input :recurring, as: :hidden, input_html: {value: true}
          -if @category.present?
            = f.input :trym_category_id, as: :hidden, input_html: {value: @category.id}
          = f.input :merchant_id, as: :string, label: "Which company is the charge from?"

        .form-inputs
          = f.input :amount, as: :currency, label: "How much is your average bill?"
          = f.input :billing_day, as: :string, label: "When is your next charge?", placeholder: "estimate if you're not sure", input_html: {class: "text-left"}
          = f.input :renewal_period_in_weeks, label: "How often are you charged?", input_html: { value: 4 }

        .form-actions.text-center
          = f.button :submit, "Create and Track!", class: "btn btn-primary btn-lg"
  
  .paragraph-spacer

  :javascript
    function format(item) { name: return item.name; };

    $('#charge_merchant_id').select2({
      placeholder: "#{merchant_name_example_helper(@category.id)}",
      minimumInputLength: 3,
      data:{ text: "name" },
      formatSelection: format,
      formatResult: format,
      ajax:{ 
        url: "#{merchants_path(trym_category_id: @category.id)}",
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) { return { q: term }; },
        results: function (data, page) { return { results: data }; },
        cache: true
      }
    });
    
    $('#charge_billing_day').datepicker({dateFormat: 'yy-mm-dd'});

    $('#charge_renewal_period_in_weeks').select2({
      data:#{Charge.renewal_period_in_words.to_h.collect{ |id,text| {id: id, text: text} }.to_json},
      initSelection : function (element, callback) {
        callback({"text":"Monthly - once every month","id":4});
      }
    });

.text-center.hidden-xs{style: "margin-bottom: -10px;"}
  -TrymCategory.where(id: @category_ids).each do |category|
    %span{ style: "margin: 8px;" }
      -if @category == category
        %u= category.name.split(" ").first.gsub(/\W/,'')
      -else
        =link_to category.name.split(" ").first.gsub(/\W/,''), wizard_path("charge_category_#{category.id}")

.row.charge-wizard-actions
  .col-xs-6
    =link_to "Back", wizard_path(@previous_step), class: "btn btn-default btn-responsive"
  .col-xs-6.text-right
    =link_to "Next", wizard_path(@next_step), class: "btn btn-primary btn-responsive"

%div{style: "min-height: 20px;"}

=render 'shared/charge_item_script'

:javascript
  $("[name='track-switch']").bootstrapSwitch({
    onText: "Yes",
    offText: "No",
    size: "mini"
  }).on('switchChange.bootstrapSwitch', function(event, state) {
    
    if( state ) {
      var cat_id = "#{@category.id}";
    } else {
      var cat_id = "";
    }

    $.ajax({
      type: "PUT",
      url: "/charges/" + $(this).data("charge-id"),
      data: { charge: { recurring: state, trym_category_id: cat_id }, scan: "scan" },
      dataType: "script"
    })
  });
  
  $('[data-toggle="popover"]').popover({html: true, trigger: 'focus', title: "<i class='fa fa-calendar'></i> Charge History"});
  
  $('#recurring-charge-score-explanation').popover({
    html: 'true',
    trigger: 'focus',
    placement: 'bottom',
    title: "<div style='text-align: left;'>How do we determine what might be recurring?</div>",
    content: "We look at three things: <ul style='margin-top:5px;'><li>when and how frequent you're charged</li><li>category information from your bank and</li><li>the merchant name</li></ul>  We don't always get this right so if you see something that's clearly wrong please send us an email at <a href='mailto:ai@trym.io'>ai@trym.io</a>."
  });

  var thread = null;

  function findMember(str) {
    if( str.length > 0 ) {
      $.get("#{charges_path}", "q="+str+"&trym_category_id="+"#{@category.id}", null, 'script');
    } else {
      $("#charge-search-results-container").empty();
    }
  } 

  $("#search-charges-field").keyup(function() {
    clearTimeout(thread);
    var target = $(this);
    if( $(this).val().length > 0 ) { $("#charge-search-results-container").html("<p class='lead text-center'><i class='fa fa-cog fa-spin'></i> Searching ...</p>") }
    thread = setTimeout(function() { findMember(target.val()); }, 500); 
  });