.modal-dialog.modal-sm
  .modal-content    
    .modal-body.text-center
      = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        %h3 Welcome Back!
        = devise_error_messages!
        .form-inputs
          = f.input :email, autofocus: true, required: false, input_html: {class: "text-center"}
          = f.input :password, input_html: {class: "text-center"}
        .form-actions
          %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"} } Cancel
          = f.button :submit, "Sign In", class: "btn-primary"

        = render "devise/shared/links" 