= simple_form_for(@transaction_data_request) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.association :financial_institution
    = f.input :status
    = f.input :failure_reason

  .form-actions
    = f.button :submit
