.modal-dialog.modal-sm
  .modal-content.vertical-center.text-center
    %h4 Scan your external accounts for recurring charges
    = simple_form_for @transaction_data_request, remote: true do |f|
      .modal-body
        = f.error_notification

        .form-inputs
          = f.input :financial_institution, label: "What should we scan?"
          = f.input :username, label: "Username for Account"
          = f.input :password, label: "Password for Account"

        .form-actions
          %button.btn.btn-default{ type: "button", data: {dismiss: "modal"} } Cancel
          = f.button :submit, "Start Scan", class: "btn-primary"
    %p.small
      trym uses industry leading
      %a.icon-link{href: "#"} 
        %i.fa.fa-lock
        security
      and does not store your username or password for external sites


:javascript
  function format(item) { return item.name; };

  $('#transaction_data_request_financial_institution').select2({
    placeholder: "American Express, USBank, ect.",
    minimumInputLength: 3,
    data:{ text: "name" },
    formatSelection: format,
    formatResult: format,
    ajax:{ 
      url: "#{financial_institutions_path}",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) {
        return { q: term };
      },
      results: function (data, page) { 
        return { results: data };
      },
      cache: true
    },
    formatNoMatches: function(term) {
        return "Sorry we're not ready to link to "+term+" yet. Please check back soon.";
    }
  });
  $('#transaction_data_request_financial_institution').on("change", function(e) { 
    $("#transaction_data_request_username").attr("placeholder","Your " + e.added.name + " Username"); 
    $("#transaction_data_request_password").attr("placeholder","Your " + e.added.name + " Password");
  });