.paragraph-spacer
= simple_form_for current_user.account_detail, remote: true, html: {class: "form-inline"} do |f|
  = f.input :first_name, label: "First Name", required: true, as: :string, input_html: {placeholder: "first name", class: "text-left", required: true}, label: false
  = f.input :last_name, label: "Last Name", required: true, as: :string, input_html: {placeholder: "last name", class: "text-left"}, label: false
  = f.input :temp_phone, label: "Mobile Phone", required: true, as: :string, input_html: {placeholder: "mobile phone", class: "text-left", value: current_user.account_detail.formatted_phone}, label: false
  = f.button :submit, "Continue", class: "btn-primary", id: "details-submit-button"

%p
  %small#phone-verification-text
    We don't charge for text messages sent to your mobile device; but your carrier's standard messaging rates still apply

:javascript
  $("#account-data-explain-tooltip").tooltip({'title':"We use your name and phone to verify your identity when we manage your account, and to get in touch for important alerts related to your recurring expenses."});

  $('#account_detail_temp_phone').formatter({
    'pattern': '({{999}}) {{999}}-{{9999}}'
  });

#after-verification-thanks.hidden
  %h1.text-center
    %i.fa.fa-check-circle
    Phone verified! Thanks!