#account-detail-form.text-center
  %h2.text-center
    What's your name and mobile phone number?
    %br
    %small We'll send you a text message to verify your phone number
    
  %a.icon-link#account-data-explain-tooltip{data: {toggle: "tooltip"}}
    Why do we need this?
  
  .paragraph-spacer
  = simple_form_for @account_detail, remote: true, html: {class: "form-inline"} do |f|
    = f.input :first_name, label: "First Name", required: true, as: :string, input_html: {placeholder: "first name", class: "text-left", required: true}, label: false
    = f.input :last_name, label: "Last Name", required: true, as: :string, input_html: {placeholder: "last name", class: "text-left"}, label: false
    = f.input :phone, label: "Mobile Phone", required: true, as: :string, input_html: {placeholder: "mobile phone", class: "text-left", value: @account_detail.formatted_phone}, label: false
    = f.button :submit, "Continue", class: "btn-primary", id: "details-submit-button"

  %p
    %small#phone-verification-text
      We don't charge for text messages sent to your mobile device; but your carrier's standard messaging rates still apply

:javascript
  $("#account-data-explain-tooltip").tooltip({'title':"We need to know your name to manage your account and your phone number so we can contact you if needed."});

  $('#account_detail_phone').formatter({
    'pattern': '({{999}}) {{999}}-{{9999}}'
  });

#after-verification-thanks.hidden
  %h1.text-center
    %i.fa.fa-check-circle
    Phone verified! Thanks!