.container.text-center
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      .paragraph-spacer
      .paragraph-spacer
      .paragraph-spacer
      %h3
        To continue we need a bit more information
      %p#error-text{style: "margin: 10px auto"}
      
      %a.icon-link#account-data-explain-tooltip{data: {toggle: "tooltip"}}
        %i.fa.fa-question-circle
        why do we need this?
      .paragraph-spacer
      = simple_form_for @account_detail do |f|
        .form-inputs
          .row
            .col-md-6= f.input :first_name, label: "First Name", required: true, as: :string
            .col-md-6= f.input :last_name, label: "Last Name", required: true, as: :string
          = f.input :phone, label: "Phone Number", as: :string, input_html: { value: @account_detail.phone.present? ? @account_detail.formatted_phone : '' }
        .text-center
          we'll verify your phone number by sending you a text message so grab your phone before you hit continue
        
        .form-actions{style: "margin-top: 20px;"}
          = render 'shared/cancel_button'
          = f.button :submit, "Continue", class: "btn-primary"

      %p{style: "margin-top: 10px;"}
        %small
          %b Note: 
          We don't charge for text messages sent to your mobile device; but your carrier's standard messaging rates still apply
      
      .paragraph-spacer
      .paragraph-spacer
      .paragraph-spacer

:javascript
  $("#account-data-explain-tooltip").tooltip({'title':"We need your name so that we know who we're talking to and we need your phone number so we can call you to verify the cancelation."});

  $('#account_detail_phone').formatter({
    'pattern': '({{999}}) {{999}}-{{9999}}',
    'persistent': true
  });