<p id="notice"><%= notice %></p>

<h1>Listing Financial Institutions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Plaid type</th>
      <th>Has mfa</th>
      <th>Mfa</th>
      <th>Plaid</th>
      <th>Connect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_institutions.each do |financial_institution| %>
      <tr>
        <td><%= financial_institution.name %></td>
        <td><%= financial_institution.plaid_type %></td>
        <td><%= financial_institution.has_mfa %></td>
        <td><%= financial_institution.mfa %></td>
        <td><%= financial_institution.plaid_id %></td>
        <td><%= financial_institution.connect %></td>
        <td><%= link_to 'Show', financial_institution %></td>
        <td><%= link_to 'Edit', edit_financial_institution_path(financial_institution) %></td>
        <td><%= link_to 'Destroy', financial_institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial institution', new_financial_institution_path %>
