.modal-body
  %h3.modal-title.text-center
    -unless @financial_institution.present?
      Link your external account
    -else
      Link your #{@financial_institution.name} account.
  %p.lead.text-center we'll scan your transaction history for recurring payments automatically

  = simple_form_for @linked_account, remote: true do |f|
    = f.error_notification

    .form-inputs{style: "margin-bottom:10px;"}
      -unless @financial_institution.present?
        .row
          .col-md-12
            = f.input :financial_institution_id, label: "What account should we scan?", required: true
      -else
        =f.input :financial_institution_id, as: :hidden, input_html: {value: @financial_institution.id}
      .row
        .col-md-8.col-md-offset-2
          .row.text-center
            .col-md-12
              = f.input :username, label: "Username", required: false, input_html: {class: "text-center"}
            .user-secret-col.col-md-12
              = f.input :password, label: "Password", required: false, input_html: {class: "text-center"}
            .user-secret-col.col-md-12.hidden
              = f.input :pin, as: :password, label: "PIN Number", required: false, input_html: {class: "text-center"}

      #credentials-error-container.text-center

      %p.text-center
        %small=render 'shared/security_notice'
    
    .modal-footer{style: "padding-bottom: 0px;"}
      %button.btn.btn-default.btn-lg.pull-left{ type: "button", data: {dismiss: "modal"} } Cancel
      %button.btn.btn-primary.btn-lg#credentials-submit-button{ type: "submit", name: "commit" }
        Link Account


:javascript
  $("#mfa-form-container").hide();
  $("#link-success-container").hide();

  function clear_old_errors() {
    $(".form-group.has-error").each( function() { $(this).removeClass("has-error") });
    $("#mfa-error-container").empty();
  };

  function flash_error_button(button) {
    button.animate({
      backgroundColor: "red",
      borderColor: "transparent"
      }, 200, 'swing', function() {
        $(this).animate({
          color: "white",
          backgroundColor: "#81caa6",
        }, 1000, "swing", function() { $(this).removeAttr('style') });
    });
    return true;
  };

  $("#new_linked_account").submit( function(e) {
    clear_old_errors();

    var blank_inputs = 0;
    $("#new_linked_account").find('input.required:visible').each( function() { 
      if( $(this).val() == "" ) { 
        blank_inputs += 1;
        $(this).parent().addClass("has-error");
      };
    });

    if ( blank_inputs > 0 ) {
      $("#credentials-error-container").append("<p class='form-errors'>Please complete all fields before continuing</p>");
      flash_error_button($("#credentials-submit-button"));
      e.preventDefault();
      return false;
    }
  });
  if ("#{@financial_institution.present? ? 'yes' : 'no'}" == "no"){
    function format(item) { return item.name; }

    $('#linked_account_financial_institution_id').select2({
      placeholder: "American Express, USBank, ect.",
      minimumInputLength: 3,
      data:{ text: "name" },
      formatSelection: format,
      formatResult: format,
      ajax:{ 
        url: "#{financial_institutions_path}",
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
          return { q: term };
        },
        results: function (data, page) { 
          return { results: data };
        },
        cache: true
      },
      formatNoMatches: function(term) {
        return "Sorry we are not ready to link to "+term+" yet. Please check back soon.";
      }
    });

    $('#linked_account_financial_institution_id').on("change", function(e) { 
      $("#linked_account_username").attr("placeholder", e.added.name + " Username"); 
      $("#linked_account_password").attr("placeholder", e.added.name + " Password");
      
      // Do we need a PIN field?
      if( e.added.name == "USAA" ) {
        $('.user-secret-col').removeClass("col-md-12").addClass("col-md-6")
        $("#linked_account_pin").parents('.user-secret-col').removeClass("hidden");
        $("#linked_account_pin").attr("placeholder", e.added.name + " PIN Number"); 
      } else {
        $('.user-secret-col').removeClass("col-md-6").addClass("col-md-12")
        $("#linked_account_pin").parents('.user-secret-col').addClass("hidden");
      }
    });
  } else {
    $("#linked_account_username").attr("placeholder", "#{@financial_institution.name}" + " Username"); 
    $("#linked_account_password").attr("placeholder", "#{@financial_institution.name}" + " Password");
    
    // Do we need a PIN field?
    if( "#{@financial_institution.plaid_type.upcase}" == "USAA" ) {
      $('.user-secret-col').removeClass("col-md-12").addClass("col-md-6")
      $("#linked_account_pin").parents('.user-secret-col').removeClass("hidden");
      $("#linked_account_pin").attr("placeholder", "#{@financial_institution.name}" + " PIN Number"); 
    } else {
      $('.user-secret-col').removeClass("col-md-6").addClass("col-md-12")
      $("#linked_account_pin").parents('.user-secret-col').addClass("hidden");
    }
  }