.modal-dialog.modal-md
  .modal-content.vertical-center
    = simple_form_for @charge, remote: request.format.js? do |f|
      .modal-body
        %h2.modal-header-text.text-center Add New Charge
        %p.form-errors
          = f.error_notification
        .form-inputs
          = f.input :recurring, as: :hidden, input_html: {value: true}
          -if @trym_category_id.present?
            = f.input :trym_category_id, as: :hidden, input_html: {value: @trym_category_id}
          = f.input :merchant_id, as: :string, label: "Which company is the charge from?"

        .form-inputs
          = f.input :amount, as: :currency, label: "How much is your average bill?"
          = f.input :billing_day, as: :string, label: "When is your next charge?", placeholder: "estimate if you're not sure", input_html: {class: "text-left"}
          = f.input :renewal_period_in_weeks, label: "How often are you charged?", input_html: { value: 4 }

        .form-actions.text-center
          = render partial: 'shared/cancel_button', locals: {btn_size: 'btn-lg'}

          = f.button :submit, "Save", class: "btn btn-primary btn-lg"
        .paragraph-spacer

:javascript
  function format(item) { name: return item.name; };

  $('#charge_merchant_id').select2({
    placeholder: "#{merchant_name_example_helper(@trym_category_id)}",
    minimumInputLength: 3,
    data:{ text: "name" },
    formatSelection: format,
    formatResult: format,
    ajax:{ 
      url: "#{merchants_path(trym_category_id: @trym_category_id)}",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) { return { q: term }; },
      results: function (data, page) { return { results: data }; },
      cache: true
    }
  });
  
  $('#charge_billing_day').datepicker({dateFormat: 'yy-mm-dd'});

  $('#charge_renewal_period_in_weeks').select2({
    data:#{Charge.renewal_period_in_words.to_h.collect{ |id,text| {id: id, text: text} }.to_json},
    initSelection : function (element, callback) {
      callback({"text":"Monthly - once every month","id":4});
    }
  });