.modal-dialog.modal-md
  .modal-content.vertical-center
    = simple_form_for @charge do |f|
      .modal-body.text-center
        %h2.modal-header-text add a recurring charge and we'll track it for you
        %p.form-errors
          = f.error_notification
        .form-inputs
          = f.input :recurring, as: :hidden, input_html: {value: true}
          = f.input :merchant_id, label: "Search for Company"
          = f.input :description, as: :string, label: "Service Description", placeholder: "optional"

        .form-inputs
          .row
            .col-xs-7= f.input :billing_day, as: :string, label: "When is your next charge?", placeholder: "estimate if you're not sure"
            .col-xs-5= f.input :amount, as: :currency, label: "How much?"

        .form-inputs
          .row
            .col-xs-12
              = f.input :renewal_period_in_weeks, label: "How often are you charged?", input_html: { value: 4, data: {init_text: "Monthly - once every month"}}

        .form-actions
          -if request.format.html?
            =link_to "cancel", :back, class: "btn btn-default btn-lg"
          -else
            %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"} } Cancel
            
          = f.button :submit, "Save", class: "btn btn-primary btn-lg"


:javascript
  function format(item) { return item.name; };

  $('#charge_merchant_id').select2({
    placeholder: "Comcast, AT&T, Geico, Netflix, ect.",
    minimumInputLength: 3,
    data:{ text: "name" },
    formatSelection: format,
    formatResult: format,
    createSearchChoice: function(term, data) { 
      if (data.length > 0) {
        return null;
      } else {
        return { id: term, name: "Other: " + term }; 
      }
    },
    createSearchChoicePosition:'bottom',
    ajax:{ 
      url: "#{merchants_path}",
      dataType: 'json',
      quietMillis: 250,
      data: function (term, page) { return { q: term }; },
      results: function (data, page) { return { results: data }; },
      cache: true
    }
  });
  
  $('#charge_billing_day').datepicker({dateFormat: 'yy-mm-dd'});

  $('#charge_renewal_period_in_weeks').select2({
    data:#{Charge.renewal_period_in_words.to_h.collect{ |id,text| {id: id, text: text} }.to_json},
    initSelection : function (element, callback) {
      callback({"text":"Monthly - once every month","id":4});
    }
  });