.modal-dialog.modal-sm
  .modal-content
    = simple_form_for @charge, remote: request.format.js? do |f|      
      = f.input :update_from, as: :hidden, input_html: {value: trym_referrer}
      .modal-body.text-center
        %h3.modal-title 
          %i.fa.fa-edit
          edit charge
        %p.form-errors
          = f.error_notification
        .form-inputs
          -if @trym_category_id.present?
            = f.input :trym_category_id, as: :hidden, input_html: {value: @trym_category_id}
          = f.input :merchant_id, as: :string, label: "Which company is the charge from?", input_html: {class: "text-center", data: {placeholder: merchant_name_example_helper(@trym_category_id), url: merchants_path(trym_category_id: @trym_category_id), init: {text: "#{@charge.merchant_name}", id: "#{@charge.merchant.present? ? @charge.merchant.id : nil}" }.to_json }}
          = f.association :trym_category, label: "Charge Category", input_html: {class: "text-center"}

        .form-inputs
          = f.input :amount, as: :currency, label: "How much is your average bill?", input_html: { value: @charge.amount_in_currency, style: "text-align: center; text-indent: -30px;" }

        .form-inputs
          = f.input :billing_day, as: :string, label: "When is your next charge?", placeholder: "estimate if you're not sure", input_html: {class: "text-center"}
          = f.input :renewal_period_in_weeks, label: "How often are you charged?", collection: Charge.renewal_period_in_words.invert

      .modal-footer{ style: "text-align: center;" }
        = render partial: 'shared/cancel_button', locals: {btn_size: 'btn-md'}
        = link_to "delete", {controller: "charges", action: "destroy", id: @charge.id}, method: :delete, class: "btn btn-danger btn-md", style: "width: 69px;", data: {confirm: "Are you sure you want to delete this charge? Deleting a charge also deletes all associated account management requests. This can't be undone."}, remote: true
        = f.button :submit, "Save", class: "btn btn-primary btn-md", style: "width: 69px;"

:javascript
  $('#charge_trym_category_id').select2({minimumResultsForSearch: Infinity, allowClear: true});

  $('#charge_billing_day').datepicker({dateFormat: 'yy-mm-dd'});

  $('#charge_renewal_period_in_weeks').select2({minimumResultsForSearch: Infinity});