-if @charges_outlook_chart_data
  .row
    .col-lg-12
      %h3
        Over the next twelve months you will pay
        %b #{number_to_currency @charges_outlook_chart_data.total_next_twelve_months}
        to #{pluralize @charges_outlook_chart_data.bar_categories.count, 'merchant'}
      %p.lead{style: "margin-bottom: 10px;"}
        Does that sound like too much?  Click 
        %b Manage Payments 
        on any charge to cancel or downgrade services you don't need or to let us help you find better deals on services you need.
      %p 
        It looks like you're paying the most to 
        %b #{@charges_outlook_chart_data.bar_categories.first}.  
        Why not
        %b=link_to "start there?", stop_orders_path(charge_id: @charges_outlook_chart_data.charges.select{ |c| c.merchant_name == @charges_outlook_chart_data.bar_categories.first }.first), method: :post

  .row
    .col-lg-12
      #charges-total-by-merchant-chart
-else
  .row
    .col-lg-12
      %p.lead.text-center{style: "margin: 0px 0px 20px 0px;"}
        Add some charges to see how much you're paying!

-if @charges_outlook_chart_data.any_charges_in_year?
  :javascript
    $(function () {
      $('#charges-total-by-merchant-chart').highcharts({
        chart: { 
          type: 'bar',
          backgroundColor: "#F0F1F4",
          height: ($(window).height() - $('#charges-total-by-merchant-chart').offset().top - 39)
        },
        colors: ["#{brand_color}"],
        plotOptions: { 
          bar: { 
            dataLabels: {
              enabled: true,
              formatter: function () {
                return '$' + this.y.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              }
            }
          },
          series: {
            point: {
              events: {
                mouseOver: function(e) {
                  $( ".merchant-" + e.currentTarget.category.toLowerCase().replace(/\W/g, '') ).addClass("hover-glow")
                },
                mouseOut: function(e) {
                  $( ".merchant-" + e.currentTarget.category.toLowerCase().replace(/\W/g, '') ).removeClass("hover-glow")
                }
              }
            }
          } 
        },
        title: { text: null },
        xAxis: {
          categories: #{@charges_outlook_chart_data.bar_categories.to_json},
          title: { text: null }
        },
        yAxis: { 
          gridLineWidth: 0,
          minorGridLineWidth: 0,
          max: #{@charges_outlook_chart_data.bar_data.first[:data].max * 1.2},
          min: 0,
          title: { text: null },
          labels: { enabled: false }
        },
        tooltip: { enabled: false },
        legend: { enabled: false },
        credits: { enabled: false },
        series: #{@charges_outlook_chart_data.bar_data.to_json}
      });
    });