%dl{class: "popover-for-charge-#{@charge.id}"}
	-@charge.warnings.each do |warning_header, warning|
		%dt= warning_header
		%dd.small-gray= warning

%button.btn.btn-primary.btn-block{ onclick: "$('.popover-for-charge-#{@charge.id}').each( function() { $(this).parents('.popover').remove() }); $('#charge-item-#{@charge.id}').popover('destroy');" }
	Ok, got it