%title= title_helper @title
= favicon_link_tag 'logo.ico'
= stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => true
= javascript_include_tag 'application'#, 'data-turbolinks-track' => true
= csrf_meta_tags
%meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
%meta{ name: "google-site-verification", content: "ellSNtG0zYxF9bgpk7Q4m7NAy7vM6jEkJM0tMdkecA0" }