!!!
%html{id: "#{controller_name.gsub("_","-")}-#{action_name.gsub("_","-")}"}
  %head
    =render 'layouts/head'
  %body
    = render 'layouts/header'
    .header-padding
    .flash-offset
      = render 'layouts/flash'
    .container-fluid
      = yield
    / = render 'layouts/footer'


    .modal.fade#modal-container
      %button.hidden-xs{ type: "button", class: "close", data: {dismiss: "modal"}, onClick: '$(".modal-dialog").remove()' }
        %span.modal-close-x{ aria_hidden: "true"} &times;
        %span.sr-only Close

  #script-foot
    =render 'layouts/footer_script'