!!!
%html
  %head
    =render 'layouts/head'
  
  %body
    = render 'layouts/header'
    
    .header-padding{style: "padding-top: 50px;"}
      = render 'layouts/flash'
      .container
        .row
          .col-sm-12.col-md-10.col-md-offset-1
            = yield
      = render 'layouts/footer'


    .modal.fade#modal-container
      %button.hidden-xs{ type: "button", class: "close", data: {dismiss: "modal"}, onClick: '$(".modal-dialog").remove()' }
        %span.modal-close-x{ aria_hidden: "true"} &times;
        %span.sr-only Close

    = link_to root_path, class: "navbar-brand" do
      = image_tag "logo.svg", size: "25"

:javascript
  function showLoader() {
    $(".modal-dialog").remove();
    $("#modal-container").append("#{ j render 'shared/loading' }");
    $("#modal-container").modal({backdrop: 'static'});
  }
