!!!
%html
  %head
    =render 'layouts/head'
  
  %body
    = render 'layouts/header'
    
    .header-padding
      .flash-offset{style: "top: 50px; position: absolute; width: 100%; z-index: 1;"}
        = render 'layouts/flash'
      .vertical-center-container-outer
        .vertical-center-container-inner
          -if @charge.present?
            =render 'stop_orders/manage_account/charge_header'
          .container{ style: "padding: 75px 0px 50px 0px;"}
            = yield
          .footer-container{ style: "position: absolute; bottom: 0px; width: 100%;" }
            = render 'layouts/footer'


    .modal.fade#modal-container
      %button.hidden-xs{ type: "button", class: "close", data: {dismiss: "modal"}, onClick: '$(".modal-dialog").remove()' }
        %span.modal-close-x{ aria_hidden: "true"} &times;
        %span.sr-only Close

:javascript
  function showLoader() {
    $(".modal-dialog").remove();
    $("#modal-container").append("#{ j render 'shared/loading' }");
    $("#modal-container").modal({backdrop: 'static'});
  }
